<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <%= pluralize(@user.errors.count, "error") %> prevented your account from being saved:
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>

  <div>
    <%= button_to "Cancel", user_path(@user) %>
  </div>
<% end %>
